
body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {border: 0;}
.print-site_name {display: none;}
.print-breadcrumb {display: none;}
.print-title {display: none;}
.print-submitted {font-size: small;}
.print-created {font-size: small;}
.print-taxonomy {
  display: none;
}
.print-taxonomy li {display: none;}
.print-content {}
.print-hr {
  display: none;
}
.print-message {
  display: none;
}
.print-source_url {display: none;}
.print-links {display: none;}
.print-footer {display: none;}
.form-submit {display: none;}
.form-required {display: none;}
