#container {
	margin:0 auto;
	width:80%;
	font-family:Arial;
	font-size:12px; 
	border:solid 1px #EDF0F9
}
#container .inner {
	padding:8px
}
#invoice-header {
	top:5px;
	border:solid 1px #000; 
	height:100px
}
.header-left {
	float:left;
	width:25%;
	height:100%;
	border:solid 1px #EDF0F9
}
.header-right {
	float:right;
	width:73%;
	height:100%
}
.header-right .inner-left {
	float:left;
	border:solid 1px #EDF0F9; 
	width:70%;
	text-align:center;
	height:100%
}
.header-right .title {
	text-transform:uppercase; 
	color:#305E37
}
.header-right .sub-title {
	text-transform:uppercase; 
	color:#08941E
}
.header-right .inner-right {
	float:right; 
	width:25%;
	border:solid 1px #EDF0F9;
	height:100%
}
#invoice-body {
	margin-top:5px;
	border:solid 1px #D0D0D0;
	background:#E3E9FF;
}
.body-left {
	float:left; 
	width:25%; 
	border:solid 1px #D0D0D0; 
	margin-right:5px
}
.body-left .inner {
	padding:5px
}
.body-center {
	float:right; 
	width:72%; 
	border:solid 1px #D0D0D0;
}
.body-center .table {
	font-size:11px
}